html {
    height: 100%;
}
body {
   
    background-color: #4a524a;
    background-image: url(images/12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: url(images/12.jpg);
    background-position: center;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}

header {
    
    height: 118px;
    text-align: center;
 
}

nav {
    background-color: rgba(0, 0, 0, 0.308);
    text-align: center;
   padding-top: 14px;
   padding-bottom: 14px;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    
}

main {
    height: 300px;
    text-align: left;
    margin-top: 18px;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 240px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer {
    background-color: rgba(105, 91, 29, 0.308);
    
    
}
h1 {
    font-size: 84px;
    color: rgb(21, 151, 86);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 20px;
    text-shadow: aqua;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h3 {
    font-size: 18px;
    color: rgb(55, 184, 62);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif; */ */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
a {
    color: rgb(17, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-shadow: black;
    text-transform: uppercase;
    /* text-decoration: none; */
}
div {
    height: 100px;
    width: 350px;
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 240px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

 nav a {
    text-decoration: none;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(220, 247, 227);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
} 
footer p {
    font-size: 15px;
    text-align: center;
    color: rgb(230, 240, 238);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main a h3 {
    text-align: left;
    padding-left: none;
    
}
main h1 {
    text-align: left;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}
section {
    float: right;
    
}